body {
    background-image: url('img/fellowship.png');
    background-size: cover;
    position: relative;
    font-family: 'Abel', sans-serif;
}

/* title */

img {
    display: inline-block;
    height: 120px;
    width: 600px;
}

.title {
    text-align: center;
    padding: 0px;
}

/* main */

.article {
    font-family: 'Abel', sans-serif;
    background: rgb(255, 255, 255, 0.6);
    border-radius: 10px;
    margin: 0 20% 5% 20%;
    font-size: 25px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
}

/* button */

.btn {
    margin-left: 37%;
}

.btnopen {
    color: rgb(0, 0, 0) !important;
    text-transform: uppercase;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-color: rgba(0,0,0);
    border-radius: 10px;
    border-style: solid;
    transition: all 0.4s ease 0s;
    transform: translateX(-50%)
}

.btnopen:hover {
    background: #b5b9bb;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    }

/* modal */

.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    background: rgba(142, 152, 156, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
  }
  
  .modal-wrapper.open {
    opacity: 1;
    visibility: visible;
  }
  
  .modal {
    width: 600px;
    height: 400px;
    display: block;
    margin: 50% 0 0 -300px;
    position: relative;
    top: 50%; 
    left: 50%;
    background: #fff;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    background-image: url('img/nazgul.jpg');
    background-size: cover;
    border-radius: 10px;
  }
  
  .modal-wrapper.open .modal {
    margin-top: -200px;
    opacity: 1;
  }

  .btn-close {
    font-size: 28px;
    display: block;
    float: right;
    color: #fff;
  }

  .head { 
    width: 90%;
    height: 22px;
    padding: 10px 30px;
    overflow: hidden;
    background: #d30404;
    border-radius: 10px 10px 0 0;
    
  }
  
.warning {
    text-align: left;
    color: white;
    margin-top: -6px; 
}

.advice {
    color: white;
    margin-top: 260px;
    margin-left: 15px;
}